<div class="card bg-dark text-white mb-3">
  <!--edit / add form-->
  <form novalidate (submit)="save(f)" #f="ngForm" class="card-body">

      <input type="text" [ngModel]="active?.label" name="label" required class="form-control bg-dark text-white" placeholder="Phone model *">

      <div class="btn-group btn-group-sm m-1">
          <button class="btn btn-warning" type="submit" [disabled]="f.invalid">
      {{active?.id ? 'SAVE' : 'ADD'}}
    </button>
          <button class="btn btn-light" type="button" *ngIf="active?.id" (click)="reset()">
      ADD NEW
    </button>
      </div>
  </form>
</div>

<div class="card bg-dark text-white mb-3">

  <!--Devices List -->
  <div *ngFor="let device of devices" class="list-group-item list-group-item-action">

      <!--os icon-->
      <i class="fa" [ngClass]="{
          'fa-android': device.os === 'android',
          'fa-apple'  : device.os === 'ios',
          'fa-tablet' : device.os === 'others'
       }"></i>


      <!--label-->
      <i class="fa fa-in"></i>
      <span>{{device?.label}}</span>

      <!--display rate -->
        <!--...missing...-->

        <div class="pull-right">
          <!--price -->
          <strong *ngIf="device.price" [style.color]="device.price > 500 ? 'red' : null">
      € {{device.price | number: '1.2-2'}}
    </strong>

          <!--trash icon-->
          <i class="fa fa-trash icon"></i>
      </div>
  </div>
</div>
