<p>
<app-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <app-toolbar>menu</app-toolbar>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <app-toolbar>favorite</app-toolbar>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <app-toolbar>share</app-toolbar>
    </button>
  </app-toolbar>
</p>
