.example-spacer {
    flex: 1 1 auto;
  }
  
body {
    margin: auto;
    background-color: cornflowerblue;
}
.app-toolbar {
  color: black;
  background-color: blanchedalmond;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

container {
  color: rgba(0, 0, 0, 0.54);
}